ol.extended-active-effects {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol.extended-active-effects > li {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
  height: 30px;
}

ol.extended-active-effects > li > .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

ol.extended-active-effects > li img {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

ol.extended-active-effects > li .name {
  flex: 1;
}

ol.extended-active-effects > li .add {
  border-color: gray;
  border-style: dashed;
  text-align: center;
}